*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    background: #fff;
}

.toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

.toggle-btn span:nth-child(1){
    top: 0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}

.logo{
    height: 20px;
    margin: -3px 30px 0;
}

#ng{
   margin: -25px 5px 0 140px;
   position: absolute;
   font-size: 10px;
   font-weight: 500;
   color: #979797;
}

.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 130px;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.search-btn img{
    height: 100%;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***sidebar**/
.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
}

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
    width: 10%;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
}

.separator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}


.filter-options.active{
    color: #fff;
    background-color: #242424;
}

.filter-options:hover{
    background: rgba(151, 151, 151, 0.384);
}

.video-container{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
    
}

.video{
    min-height: 250px;
    height: auto;
   
}

.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}


/************Media Queries**************/
@media screen and (max-width: 600px), 
       screen and (max-height: 400px){
    
    .toggle-btn{
        display: none;
    }

    .logo{
        margin-left: 0px;
        height: 20px;
        width: 80px;
    }

    #ng{
        margin: -20px 5px 0 80px;
     }

    .search-box{
        max-width: 100px;
    }

    .search-bar{
        width: 85%;
        height: 100%;
        border: 1px solid #dbdbdb;
        padding: 0 20px;
        font-size: 12px;
        margin-left: 20px;
    }

    .search-btn{
        width: 15%;
        height: 100%;
        background: #f0f0f0;
        border: 2px solid #dbdbdb;
        padding: 5px 0;
        border-left: none;
    }

    .search-btn img{
        height: 80%;
    }

     .side-bar{
        position: fixed;
        padding: 0 2vw;
        top: 94%;
        bottom: 5px;
        width: 100%;
        height: 50px;
        background: #fff;
        display: flex;
        flex-grow: 1;
        /*
        position: fixed;
        top: 750px;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 2vw;
        margin-left: 15px;
        background: #fff;*/
    }

    .links{
        display: inline;
        width: 100%;
        padding: 5px 5px;
        margin: 5px 30px 1px -10px;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 500;
    }
    
    .links img{
        height: 15px;
        margin-right: 20px;
        margin-top: -10px;
        width: 50%;
    }

    .video-container{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        display: block;
    }
    .title{
        font-size: 12px;
    }
    
    .filters{
        left: 0px;
        width: 100%;
        height: 40px;
        padding: 0 10px;
    }
    
    .filter-options{
        padding: 5px 10px;
        font-size: 12px;
    }

    .user-options{
        height: 30px;
        padding: 2px;
    }

    .user-options .icon{
        height: 60%;
        margin-right: 10px;
       
    }

}

@media (min-width: 601px) and (max-width:768px){
    .video-container{
        display: block;
        columns: 2;
    }
}